.layout-responsive {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.card img {
    opacity: 1;
    transition: opacity ease-in-out .3s;
}

.card img:hover {
    opacity: .5;
    transition: opacity ease-in-out .3s;
}