.header-pegado {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    justify-items: center;

    grid-auto-flow: column;
}

.dropdown-item.active, 
.dropdown-item:active {
    color: #fff !important;
    background-color: #198754;
}